.member-container {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.m-left {
    /* Add any additional styles for the left side here */
  }
  
.m-right {
/* Add any additional styles for the right side here */
    display: flex;
    align-items: center;
}