.modal-container {
    user-select: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.modal-container-header {
    font-size: 20px;
    border-bottom: 1px solid #000;
}