.delete-action-container {
    padding-bottom: 5px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.delete-action-left {
    /* Add any additional styles for the left side here */
    margin-left: 20px;
  }
  
.delete-action-right {
/* Add any additional styles for the right side here */
    display: flex;
    align-items: center;
    margin-right: 20px;
}